@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .landing__text {
    @apply font-bold leading-snug text-white sm:text-6xl bg-gradient-to-r from-red-500 md:px-6 decoration-clone mb-2
  }
}

/* @layer base {
  @font-face {
    font-family: 'Inter';
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;900&display=swap');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  body {
    font-family: 'Inter';
  }
} */

@layer base {
  .tw-section-heading {
    @apply inline-block text-2xl font-semibold no-underline border-b border-red-500 sm:text-3xl md:text-4xl hover:border-transparent;
  }
}

/* REACT SLICK ARROW CUSTOM CSS */
.react__slick__slider__parent {
  position: relative;
}

.react__slick__slider__parent .slick-prev,
.react__slick__slider__parent .slick-next {
  position: absolute;
  top: 50%;
}
.react__slick__slider__parent .slick-prev {
  color: black;
  z-index: 1;
}
.react__slick__slider__parent .slick-next {
  border-radius: 50%;
  color: black;
  z-index: 1;
}

.react__slick__slider__parent .slick-prev:before,
.slick-next:before {
  color: black;
}
